html, body {
  margin: 1rem;
  font-size: 16px;
}

.main-header {
  width: 100%;
  padding: 2rem;
  color: #fff;
  background-color: #222;
}

.main-footer {
  width: 100%;
  margin-top: 1rem;
  padding: 2rem;
  color: #fff;
  background-color: #222; 
}

.content {
  width: 960px;
  margin: 0 auto;
}

.menu li {
  display: inline;
  margin-right: 0.8rem;
}

.main-header h1 {
  margin: 1rem 0;
}

.picture-title {
  text-align: center;
}

.picture-title h2 {
  margin: 1rem 0;
}

.links {
  margin: 2rem;
  text-align: center; 
}

.wiki-link {
  margin: 15px 5px;
  padding: 15px;
  color: #FFF;
  background: #4787ed;
  text-align: center;
  border: 2px solid #4787ed;
}

.back-link {
  margin: 15px 5px;
  padding: 15px;
  text-align: center;
  color: #4787ed;
  background: #FFF;
  border: 2px solid #4787ed;
}